@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --loader-opacity: 1;
}

body {
}

.marquee__title {
  background-color: black;
  width: calc(100% - 12px);
  margin-left: 6px;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-top: 6px;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
